<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-50 p-8">

    <nav class="bg-white shadow-lg mb-8">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between h-16">
                <div class="flex space-x-7">
                    <div class="flex items-center">
                        <a href="{{ url_for('home') }}"><img
                                src="{{ url_for('static', filename='img/HIDROSTAL3.png') }}" alt="Logo"
                                class="h-8 w-auto"></a>
                    </div>
                    <div class="flex items-center space-x-4">
                        <a href="{{ url_for('home') }}"
                            class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600">Inicio</a>
                    </div>
                </div>
                <div class="flex items-center">
                    <a href="#"
                        class="px-4 py-2 rounded text-sm font-medium text-white bg-red-600 hover:bg-red-700 hover:scale-105 transition-all">
                        Cerrar Sesión
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="max-w-7x2 mx-auto">
        <div class="flex gap-4 mb-4">
            <button class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 hover:scale-105 transition-all"
                onclick="document.getElementById('modalAgregar').classList.remove('hidden')">
                Agregar Nuevo Documento
            </button>
        </div>
        <form class="bg-white p-6 rounded shadow mb-8 flex flex-wrap gap-4 items-end">
            <div>
                <label class="block text-sm font-medium mb-1">Fecha</label>
                <input type="text" name="fecha" class="border rounded px-2 py-1 w-40" placeholder="YYYY-MM-DD">
            </div>
            <div>
                <label class="block text-sm font-medium mb-1">Descripción</label>
                <input type="text" name="descripcion" class="border rounded px-2 py-1 w-40" placeholder="Descripción">
            </div>
            <div>
                <label class="block text-sm font-medium mb-1">Identificador de Plano</label>
                <input type="text" name="identificador_plano" class="border rounded px-2 py-1 w-32"
                    placeholder="Identificador">
            </div>
            <div>
                <label class="block text-sm font-medium mb-1">Tamaño</label>
                <select name="tamano" class="border rounded px-2 py-1 w-46">
                    <option value="" disabled selected>Selecciona tamaño</option>
                    <option value="0">A0</option>
                    <option value="1">A1</option>
                    <option value="2">A2</option>
                    <option value="3">A3</option>
                    <option value="4">A4</option>
                </select>
            </div>
            <div>
                <label class="block text-sm font-medium mb-1">Revision</label>
                <select name="revision" class="border rounded px-2 py-1 w-full">
                    <option value="">Seleccionar Revision</option>
                    <option value="_">_</option>
                    <option value="Z">Z</option>
                    <option value="Y">Y</option>
                </select>
            </div>
            <div>
                <label class="block text-sm font-medium mb-1">Sub-revision</label>
                <select id="sub_revision" name="sub_revision" class="border rounded px-2 py-1 w-full">
                    <option value=" ">Ninguno</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div>
                <label class="block text-sm font-medium mb-1">Nombre del Dibujante</label>
                <input type="text" name="dibujante" class="border rounded px-2 py-1 w-40" placeholder="Dibujante">
            </div><br>
            <div class="flex gap-2">
                <button type="submit"
                    class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 hover:scale-105 transition-all">Buscar</button><br>
                <button type="reset"
                    class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 hover:scale-105 transition-all">Limpiar</button>
            </div>
        </form>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white rounded shadow">
                <thead>
                    <tr class="bg-gray-200 text-gray-700">
                        <th class="px-4 py-2">Fecha</th>
                        <th class="px-4 py-2">Descripción</th>
                        <th class="px-4 py-2">Identificador de Plano</th>
                        <th class="px-4 py-2">Tamaño</th>
                        <th class="px-4 py-2">Revision</th>
                        <th class="px-4 py-2">Sub-revision</th>
                        <th class="px-4 py-2">Nombre del Dibujante</th>
                        <th class="px-4 py-2">Ver</th>
                        <th class="px-4 py-2">Descargar</th>
                        <th class="px-4 py-2">Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in data %}
                    <tr>
                        <td class="border px-4 py-2">{{d.fecha}}</td>
                        <td class="border px-4 py-2">{{d.descripcion}}</td>
                        <td class="border px-4 py-2">{{d.identificador_plano}}</td>
                        <td class="border px-4 py-2">A{{d.tamanio}}</td>
                        <td class="border px-4 py-2">{{d.revision}}</td>
                        <td class="border px-4 py-2">{{d.sub_revision}}</td>
                        <td class="border px-4 py-2">{{d.dibujante}}</td>
                        <td class="border px-4 py-2 text-center">
                            {% if d.archivo_token %}
                            <a href="{{ url_for('view_file', token=d.archivo_token) }}" target="_blank"
                                class="text-blue-600 underline">Ver</a>
                            {% else %}
                            <span class="text-gray-400">-</span>
                            {% endif %}
                        </td>
                        <td class="border px-4 py-2 text-center">
                            {% if d.archivo_token %}
                            <a href="{{ url_for('download_file', token=d.archivo_token) }}"
                                class="text-green-600 underline">Descargar</a>
                            {% else %}
                            <span class="text-gray-400">-</span>
                            {% endif %}
                        </td>
                        <td class="border px-4 py-2 text-center">
                            <button
                                class="bg-blue-600 text-white px-2 py-1 rounded hover:bg-blue-700 hover:scale-105 transition-all"
                                onclick="document.getElementById('modal{{d.id_registro}}').classList.remove('hidden')">
                                Editar
                            </button>
                            <button
                                class="bg-yellow-600 text-white px-2 py-1 rounded hover:bg-yellow-700 hover:scale-105 transition-all"
                                onclick="document.getElementById('modalReutilizar{{d.id_registro}}').classList.remove('hidden')">
                                Reutilizar
                            </button>
                            <button
                                class="bg-red-600 text-white px-2 py-1 rounded hover:bg-red-700 hover:scale-105 transition-all"
                                onclick="document.getElementById('modalEliminar{{d.id_registro}}').classList.remove('hidden')">
                                Eliminar
                            </button>
                        </td>
                    </tr>
<!--modal agregar-->
                    <div id="modalAgregar"
                        class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50 hidden modal">
                        <div class="bg-white p-8 rounded shadow-lg w-full max-w-lg relative">
                            <button onclick="document.getElementById('modalAgregar').classList.add('hidden')"
                                class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
                                aria-label="Cerrar">&times;</button>
                            <h2 class="text-xl font-bold mb-4">Agregar Nuevo Documento</h2>

                            <form action="/user" method="POST" enctype="multipart/form-data">
                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Número de Plano</label>
                                    <input id="numero_plano" type="text" name="numero_plano"
                                        class="border rounded px-2 py-1 w-full" hidden>
                                </div>
                                <div class="space-y-2 border rounded p-3 bg-gray-50 mt-2">
                                    <div>
                                        <label class="block text-sm font-medium mb-1">Tipo de Plano</label>
                                        <select id="tipo_plano" name="tipo_plano"
                                            class="border rounded px-2 py-1 w-full" required>
                                            <option value="">-- Seleccionar --</option>
                                            <option value="04">04 - ESQUEMA GENERAL</option>
                                            <option value="06">06 - TABLAS DE PRODUCCIÓN</option>
                                            <option value="11">11 - CONJUNTO P.HIDRÁULICA</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label class="block text-sm font-medium mb-1">Tamaño</label>
                                        <select id="tamano" name="tamano" class="border rounded px-2 py-1 w-full"
                                            required>
                                            <option value="">-- Seleccionar --</option>
                                            <option value="0">0 - A0</option>
                                            <option value="1">1 - A1</option>
                                            <option value="2">2 - A2</option>
                                            <option value="3">3 - A3</option>
                                            <option value="4">4 - A4</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label class="block text-sm font-medium mb-1">Revision</label>
                                        <select id="revision" name="revision" class="border rounded px-2 py-1 w-full"
                                            required>
                                            <option value="">-- Seleccionar --</option>
                                            <option value="_">_</option>
                                            <option value="Z">Z</option>
                                            <option value="Y">Y</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label class="block text-sm font-medium mb-1">Sub-Revision</label>
                                        <select id="sub_revision" name="sub_revision"
                                            class="border rounded px-2 py-1 w-full" required>
                                            <option value=" ">Ninguno</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="mb-2 mt-4">
                                    <label class="block text-sm font-medium mb-1">Descripción</label>
                                    <input type="text" name="descripcion" class="border rounded px-2 py-1 w-full"
                                        required>
                                </div>

                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Nombre del Dibujante</label>
                                    <input type="text" name="dibujante" class="border rounded px-2 py-1 w-full"
                                        required>
                                </div>

                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Fecha</label>
                                    <input id="fecha" type="text" name="fecha"
                                        class="border rounded px-2 py-1 w-full fecha-input" placeholder="YYYY-MM-DD"
                                        required>
                                    <input type="checkbox" name="f_actual" id="f_actual"
                                        onchange="colocarFechaActual(this)">
                                    <label class="text-sm text-gray-600">Usar fecha actual</label>
                                </div>

                                <div class="mb-4">
                                    <label class="block text-sm font-medium mb-1">Archivo PDF</label>
                                    <input type="file" name="pdf" accept="application/pdf"
                                        class="border rounded px-2 py-1 w-full">
                                    <label class="block text-sm font-medium mb-1">Imagen</label>
                                    <input type="file" name="imagen" accept="image/*"
                                        class="border rounded px-2 py-1 w-full">
                                </div>

                                <div class="flex justify-end gap-2">
                                    <button type="button"
                                        onclick="document.getElementById('modalAgregar').classList.add('hidden')"
                                        class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 hover:scale-105 transition-all">Cancelar</button>
                                    <button type="submit"
                                        class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 hover:scale-105 transition-all">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>


<!--modal editar-->>
                    <div id="modal{{d.id_registro}}"
                        class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50 hidden modal">
                        <div class="bg-white p-8 rounded shadow-lg w-full max-w-lg relative">
                            <button onclick="document.getElementById('modal{{d.id_registro}}').classList.add('hidden')"
                                class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
                                aria-label="Cerrar">&times;</button>
                            <h2 class="text-xl font-bold mb-4">Editar Documento</h2>
                            <form action="/edit/{{d.id_registro}}" method="post" enctype="multipart/form-data"
                                onsubmit="return validarIdentificadorEdit('{{d.cod_tipo_plano}}',
                                        '{{d.id_num_plano}}',
                                        this.tamanio.value,
                                        this.revision.value,
                                        this.sub_revision.value,
                                        '{{d.id_registro}}')">
                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Fecha</label>
                                    <input type="text" name="fecha" class="border rounded px-2 py-1 w-full"
                                        value="{{d.fecha}}" required>
                                </div>
                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Descripción</label>
                                    <input type="text" name="descripcion" class="border rounded px-2 py-1 w-full"
                                        value="{{d.descripcion}}" required>
                                </div>

                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Número de Plano</label>
                                    <input id="numero_plano_edit" type="text" class="border rounded px-2 py-1 w-full"
                                        value="{{d.id_num_plano}}" disabled>
                                    <input id="numero_plano_edit" type="text" name="numero_plano"
                                        value="{{d.id_num_plano}}" hidden>
                                </div>

                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Tipo de Plano</label>
                                    <input id="cod_tipo_plano{{d.id_registro}}" type="text"
                                        class="border rounded px-2 py-1 w-full" value="{{d.tipo_plano}}" disabled>
                                    <input type="text" name="tipo_plano" id="cod_tipo_plano{{d.id_registro}}"
                                        value="{{d.cod_tipo_plano}}" hidden>
                                </div>

                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Tamaño</label>
                                    <select name="tamanio" class="border rounded px-2 py-1 w-full"
                                        id="tamano_edit{{d.id_registro}}" required>
                                        <option value="0" {% if d.tamanio=="0" %}selected{% endif %}>A0</option>
                                        <option value="1" {% if d.tamanio=="1" %}selected{% endif %}>A1</option>
                                        <option value="2" {% if d.tamanio=="2" %}selected{% endif %}>A2</option>
                                        <option value="3" {% if d.tamanio=="3" %}selected{% endif %}>A3</option>
                                        <option value="4" {% if d.tamanio=="4" %}selected{% endif %}>A4</option>
                                    </select>
                                </div>

                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Revision</label>
                                    <select name="revision" id="revision_edit{{d.id_registro}}"
                                        class="border rounded px-2 py-1 w-full">
                                        <option value="">-- Seleccionar --</option>
                                        <option value="_" {% if d.revision=="_" %}selected{% endif %}>_</option>
                                        <option value="Z" {% if d.revision=="Z" %}selected{% endif %}>Z</option>
                                        <option value="Y" {% if d.revision=="Y" %}selected{% endif %}>Y</option>
                                    </select>

                                </div>

                                <div>
                                    <label class="block text-sm font-medium mb-1">Sub-revision</label>
                                    <select name="sub_revision" class="border rounded px-2 py-1 w-full">
                                        <option value=" " {% if d.sub_revision==" " %}selected{% endif %}>Ninguno
                                        </option>
                                        <option value="1" {% if d.sub_revision=="1" %}selected{% endif %}>1</option>
                                        <option value="2" {% if d.sub_revision=="2" %}selected{% endif %}>2</option>
                                    </select>
                                </div>

                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Nombre del Dibujante</label>
                                    <input type="text" name="dibujante" class="border rounded px-2 py-1 w-full"
                                        value="{{d.dibujante}}" required>
                                </div>

                                <div class="mb-4">
                                    <label class="block text-sm font-medium mb-1">Actualizar PDF</label>
                                    <input type="file" name="pdf" accept="application/pdf"
                                        class="border rounded px-2 py-1 w-full">
                                    <p class="text-sm text-gray-500 mt-1">Dejar en blanco para mantener el PDF actual
                                    </p>
                                </div>

                                <div class="flex justify-end gap-2">
                                    <button type="button"
                                        onclick="document.getElementById('modal{{d.id_registro}}').classList.add('hidden')"
                                        class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 hover:scale-105 transition-all">Cancelar</button>
                                    <button type="submit"
                                        class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 hover:scale-105 transition-all">Guardar
                                        Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>

<!--modal reutilizar-->
                    <div id="modalReutilizar{{d.id_registro}}"
                        class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50 hidden modal">
                        <div class="bg-white p-8 rounded shadow-lg w-full max-w-lg relative">
                            <button
                                onclick="document.getElementById('modalReutilizar{{d.id_registro}}').classList.add('hidden')"
                                class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
                                aria-label="Cerrar">&times;</button>
                            <h2 class="text-xl font-bold mb-4">Reutilizar Documento</h2>

                            <form action="/user" method="POST" enctype="multipart/form-data"
                                onsubmit="return validarReutilizacion('{{d.id_registro}}', '{{d.tamanio}}', '{{d.revision}}', '{{d.sub_revision}}')">
                                <input type="text" id="numero_plano_reutilizar" name="identificador_plano"
                                    value="{{d.identificador_plano}}" hidden>
                                <div>
                                    <label class="block text-sm font-medium mb-1">Tipo de Plano</label>
                                    <input type="text" class="border rounded px-2 py-1 w-full"
                                        id="tipo_plano_reutilizar{{d.id_registro}}" value="{{d.tipo_plano}}" disabled>
                                    <input type="text" id="tipo_plano_reutilizar{{d.id_registro}}" name="tipo_plano"
                                        value="{{d.cod_tipo_plano}}" hidden>
                                </div>
                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Número de Plano</label>
                                    <input id="numero_plano_reutilizar" type="text"
                                        class="border rounded px-2 py-1 w-full" value="{{d.id_num_plano}}" disabled>
                                    <input type="text" id="numero_plano_reutilizar" name="numero_plano"
                                        value="{{d.id_num_plano}}" hidden>
                                </div>
                                <div class="space-y-2 border rounded p-3 bg-gray-50 mt-2">

                                    <div>
                                        <label class="block text-sm font-medium mb-1">Tamaño</label>
                                        <select id="tamano_reutilizar{{d.id_registro}}" name="tamano"
                                            class="border rounded px-2 py-1 w-full">
                                            <option value="0" {% if d.tamanio=="0" %}selected{% endif %}>A0</option>
                                            <option value="1" {% if d.tamanio=="1" %}selected{% endif %}>A1</option>
                                            <option value="2" {% if d.tamanio=="2" %}selected{% endif %}>A2</option>
                                            <option value="3" {% if d.tamanio=="3" %}selected{% endif %}>A3</option>
                                            <option value="4" {% if d.tamanio=="4" %}selected{% endif %}>A4</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label class="block text-sm font-medium mb-1">Revision</label>
                                        <select id="revision_reutilizar{{d.id_registro}}" name="revision"
                                            class="border rounded px-2 py-1 w-full">
                                            <option value="">-- Seleccionar --</option>
                                            <option value="_" {% if d.revision=="_" %}selected{% endif %}>_</option>
                                            <option value="Z" {% if d.revision=="Z" %}selected{% endif %}>Z</option>
                                            <option value="Y" {% if d.revision=="Y" %}selected{% endif %}>Y</option>
                                        </select>
                                    </div>

                                    <div>
                                        <label class="block text-sm font-medium mb-1">Sub-Revision</label>
                                        <select id="sub_revision_reutilizar{{d.id_registro}}" name="sub_revision"
                                            class="border rounded px-2 py-1 w-full">
                                            <option value=" " {% if d.sub_revision==" " %}selected{% endif %}>Ninguno
                                            </option>
                                            <option value="1" {% if d.sub_revision=="1" %}selected{% endif %}>1</option>
                                            <option value="2" {% if d.sub_revision=="2" %}selected{% endif %}>2</option>
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-2 mt-4">
                                    <label class="block text-sm font-medium mb-1">Descripción</label>
                                    <input type="text" name="descripcion" class="border rounded px-2 py-1 w-full"
                                        value="{{ d.descripcion }}" required>
                                </div>
                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Nombre del Dibujante</label>
                                    <input type="text" name="dibujante" class="border rounded px-2 py-1 w-full"
                                        value="{{ d.dibujante }}">
                                </div>
                                <div class="mb-2">
                                    <label class="block text-sm font-medium mb-1">Fecha</label>
                                    <input id="fecha" type="text" name="fecha"
                                        class="border rounded px-2 py-1 w-full fecha-input" placeholder="YYYY-MM-DD"
                                        value="{{ d.fecha }}" required>
                                    <input type="checkbox" name="f_actual" id="f_actual"
                                        onchange="colocarFechaActual(this)">
                                    <label class="text-sm text-gray-600">Usar fecha actual</label>
                                </div>
                                <div class="mb-4">
                                    <label class="block text-sm font-medium mb-1">Archivo PDF</label>
                                    <input type="file" name="pdf" accept="application/pdf"
                                        class="border rounded px-2 py-1 w-full" value="{{d.archivo_path}}">
                                </div>
                                <div class="flex justify-end gap-2">
                                    <button type="button"
                                        onclick="document.getElementById('modalReutilizar{{d.id_registro}}').classList.add('hidden')"
                                        class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 hover:scale-105 transition-all">Cancelar</button>
                                    <button type="submit"
                                        class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 hover:scale-105 transition-all">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="modalEliminar{{d.id_registro}}"
                        class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50 hidden modal">
                        <div class="bg-white rounded-lg shadow-lg p-8 w-full max-w-md relative">
                            <button
                                onclick="document.getElementById('modalEliminar{{d.id_registro}}').classList.add('hidden')"
                                class="absolute top-2 right-2 text-gray-500 hover:text-gray-800"
                                aria-label="Cerrar">&times;</button>
                            <h2 class="text-xl font-bold mb-4 text-gray-800">¿Estás seguro de eliminar este archivo?
                            </h2>
                            <p class="mb-6 text-gray-600">Esta acción no se puede deshacer.</p>
                            <div class="flex justify-end gap-3">
                                <button
                                    onclick="document.getElementById('modalEliminar{{d.id_registro}}').classList.add('hidden')"
                                    class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 hover:scale-105 transition-all">Cancelar</button>
                                <a href="{{url_for('delete', id_registro=d.id_registro)}}"
                                    class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 hover:scale-105 transition-all">Eliminar</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>
    <script src="{{url_for('static', filename='javascript/script.js')}}"></script>
    <script>
        const identificadoresExistentes = JSON.parse('{{ lista_identificadores | tojson | safe }}');
    </script>
</body>
</html> TODO ESTE ES MI HTML, QUE ME RECOMIENDAS SI LE VOY A QUERER AGREGAR UN SISTEMA DE LOGEO Y ROLES Y PARA UNA MEJOR ESCALABILIDAD?